body{
    margin: 0;
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: end;
  
}
#rodapé{
background-color: black;
height: 9vh;
color: aliceblue;
display: flex;
justify-content: center;
align-items: center;
}
h1{margin: 0px 5px;
    font-family: cursive;
}
#a{
    margin-bottom: 300px;
    margin-left: 670px;

}